header {
  padding-top: 7em;
  width: 100%;
  align-items: center;
  background-color: #D18700;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  font-family: 'Verdana','Helvetica';
}

h4 {
  font-weight: normal;
}

@media (min-width: 1024px) {
  header {
    width: 30vw;
    float: left;
    margin: 170px 0px 0px 100px;
    position: fixed;
  }
}